* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
  font-family: "Inter", sans-serif;
}

/*nav-section*/
.nav-bar {
    margin: 16px 120px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    align-items: center;
}
.nav-link {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
}

.nav-link a {
    text-decoration: none;
    color: #000000;
}

.nav-link a:hover {
    background-color: #000000;
    color: #ffffff;
}

.btn {
    background-color: #469165;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn-1 {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.nav-bar .btn:hover {
    background: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

/*Banner-Section*/

#banner {
    background-image:url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-container {
    text-align: center;
}

.banner-content {
    padding: 115.5px 120px 179.5px;
}

.early-access {
    display: inline-flex;
    gap: 6px;
    align-items: center;
    background-color: #ffffff;
    color: #469165;
    padding: 8px 12px;
    border-radius: 50px;
    margin-bottom: 16px;
}

.early-access .dot {
    background-color: #469165;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    box-shadow: 
}

.banner-container h1 .white-h {
    color:#ffffff;
    font-size: 72px;
}

.banner-container h1 .green-h {
    color:#469165;
    font-size: 72px;
}

.banner-container p {
    margin-top: 16px;
    margin-bottom: 32px;
    color:#ffffff;
    font-size: 18px;
}

.banner-btn {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.banner-btn .btn:hover {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.banner-btn .btn-1:hover {
    background-color: #469165;
    color: #ffffff;
}
 /*Notes Section*/

 .notes-container {
    text-align: center;
    margin-top: 80px;
 }

 .notes-container h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
 }
 .notes-container p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
 }

 .notes-box {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0px 120px 72px;
 }

 .notes-card {
    text-align: center;
    padding: 30px 20px;
    width: 322px;
    height: 300px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2) ;
 }

.icon {
    background: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .notes-card h4 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
 }

 .notes-card p {
    font-size: 16px;
    color:#627382;
 }

 #solution {
    display: flex;
    justify-content: center;
 }
 .solution-container {
    margin: 120px;
    display: flex;
    gap: 60px;
 }

 .solution-content {
    margin: 102px 0px;
 }

 .solution-content h6 {
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
 }

 .solution-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
 }

 .solution-content p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
 }

 .solution-content ul {
    list-style: none;
    padding: 0;
 }

 .solution-content .list {
    color: #001931;
    margin-bottom: 16px;
    display: flex;
    justify-content: left;
    gap: 5px;
 }
 /*think section*/

 #think {
    margin: 120px;
 }

 .think-container {
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
 }

 .think-container h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
 }

 .think-container button {
    margin-bottom: 16px;
 }
 .think-container p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
 }