* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
  font-family: "Inter", sans-serif;
}

/*nav-section*/
.nav-bar {
    margin: 16px 120px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    align-items: center;
}
.nav-link {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
}

.nav-link a {
    text-decoration: none;
    color: #000000;
}

.nav-link a:hover {
    background-color: #000000;
    color: #ffffff;
}

.btn {
    background-color: #469165;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}